.story-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #05090f;
  }
  
  .story {
    border: 1px solid#1D1D1D ;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #1D1D1D;
  }
  
  .story h2 {
    margin-top: 0;
    font-size: 24px;
    color: #ffcd00;
  }
  
  .story .summary {
    font-style: italic;
    color: #ddd;
  }
  
  .story p {
    line-height: 1.6;
    margin: 10px 0;
  }
  .blog-story{
    color: #ddd;
  }
  .full-container{
    background-color:#05090f ;
  }