.heading{
  color:#FFCD00;
}
.heading-explain{
  color:#FFffff;
}

.features-container {
    text-align: center;
    padding: 3rem;
   
   
    color: #FFffff; /* Dark text */
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1); /* Subtle box shadow */
  }
  
  h2 {
    font-size: 2.2rem; /* Larger heading */
    margin-bottom: 1.5rem;
    font-weight: bold; /* Bold heading */
  }
  
  p {
    font-size: 1.1rem;
    line-height: 1.5;
    margin-bottom: 2rem;
  }
  
  /* Responsive grid layout for features */
  @media (max-width: 768px) {
    .features-grid {
      grid-template-columns: 1fr; /* Single column for small screens */
    }
  
    .feature-item {
      margin-bottom: 1.5rem; /* Reduce spacing on smaller screens */
      
    }
  }
  
  @media (min-width: 768px) and (max-width: 1024px) {
    .features-grid {
      grid-template-columns: repeat(auto-fit, minmax(350px, 1fr)); /* Adjust according to content width */
    }
  }
  
  /* Maintain responsiveness for larger screens */
  @media (min-width: 1024px) {
    .features-grid {
      grid-template-columns: repeat(auto-fit, minmax(400px, 1fr)); /* Adjust according to content width */
    }
  }
  
  .feature-item {
    text-align: left;
    padding: 2rem;
    border-radius: 5px; /* Rounded corners */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Subtle box shadow */
    background-color: #1d1d1d;
    transition: all 0.3s ease-in-out; /* Smooth hover effect */
  }
  
  .feature-item:hover {
    transform: translateY(-5px); /* Slight lift on hover */
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); /* Enhanced shadow on hover */
  }
  
  .icon {
    margin-bottom: 1rem;
    color:#E5E5E5;
  }
  .no-gap-hr {
    margin: 0;
    padding: 0;
    width:2px;
  }
  